Flask==3.0.2
Flask-SQLAlchemy==3.1.1
opencv-python-headless==4.9.0.80
gunicorn==21.2.0
numpy==1.26.4
reportlab==4.1.0
python-dotenv==1.0.0
Flask-WTF==1.2.1
Flask-Talisman==1.1.0
dlib
face-recognition
PyMySQL==1.1.0
mtcnn==0.1.1
tensorflow==2.15.0
Flask-JWT-Extended==4.6.0
scikit-learn==1.4.2
pandas==2.2.2
pyotp==2.9.0
Flask-Mail==0.10.0
